{% extends "./Admin/base.html" %}
{% block content %}
<div class="center p-3 rounded shadow max-w-screen-xl mx-auto">
    <div class="max-w-md mx-auto bg-white p-4 rounded shadow-md">
        <form method="POST" action="/admin/updatedetails" class="space-y-4">
            <div class="text-xl font-medium flex justify-center">Edit Patient Details</div>
              <div class="flex space-x-2">
                <div class="w-1/4">
                    <label for="Patient_Id" class="block font-medium text-gray-700 text-bold">Patient Id</label>
                    <input type="text" id="Patient_Id" name="Patient_Id" value={{Patient_Id}} class="mt-1 p-2 block w-full border border-gray-300 rounded-md" readonly>
                </div>
                <div class="w-3/4">
                    <label for="Patient_Name" class="block font-medium text-gray-700 text-bold">Patient Name</label>
                    <input type="text" id="Patient_Name" name='Patient_Name' value="{{Patient_Name}}" class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
            </div>
             <div>
                <label for="Room_No" class="block font-medium text-gray-700n text-bold">Choose a Room</label>
                <select name="Room_No" id="Room_No"
                    class="mt-1 block w-full border border-gray-300 bg-white rounded-md shadow-sm p-2">
                    <option default>Choose Room</option>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="104">104</option>
                    <option value="105">105</option>
                    <option value="106">106</option>
                    <option value="107">107</option>
                    <option value="108">108</option>
                    <option value="109">109</option>
                    <option value="110">110</option>
                </select>
            </div>
             <div class="flex space-x-2">
                <div class="w-1/4">
                    <label for="Doctor_Id" class="block font-medium text-gray-700 text-bold">Doctor Id</label>
                    <input type="text" id="Doctor_Id" name="Doctor_Id" value={{Doctor_Id}} class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
                <div class="w-3/4">
                    <label for="Doctor_Name" class="block font-medium text-gray-700 text-bold">Doctor Name</label>
                    <input type="text" id="Doctor_Name" name="Doctor_Name" value={{Doctor_Name}} class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
            </div>
              <div class="space-y-2">
                <div class="text-sm font-medium text-gray-700">Gender</div>
                <div class="flex items-center space-x-2">
                    <input type="radio" id="age1" name="Gender" value="Male"
                        class="h-4 w-4 border-gray-300">
                    <label for="age1" class="text-sm font-medium text-gray-700">Male</label>
                    <input type="radio" id="age2" name="Gender" value="Female"
                        class="h-4 w-4 border-gray-300">
                    <label for="age2" class="text-sm font-medium text-gray-700">Female</label>
                    <input type="radio" id="age3" name="Gender" value="Female"
                        class="h-4 w-4 border-gray-300">
                    <label for="age3" class="text-sm font-medium text-gray-700">Other</label>
                </div>
            </div>
            <div>
                <label for="Patient_Age"  class="font-medium text-gray-700 text-bold">Patient Age</label>
                <input type="number" name="Patient_Age" id="Patient_Age" value={{Patient_Age}} required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
            </div>
             <div class="flex space-x-2">
                <div class="w-1/2">
                    <label for="Weight" class="block text-bold font-medium text-gray-700">Weight</label>
                    <input type="text" name="Weight" id="Weight" value={{Weight}} class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
                <div class="w-1/2">
                    <label for="Height" class="block text-bold font-medium text-gray-700">Height</label>
                    <input type="text" id="Height" name="Height" value={{Height}} class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
            </div>
               <div class="flex space-x-2">
                <div class="w-1/4">
                    <label for="Blood_Group" class="block text-bold font-medium text-gray-700">Blood Group</label>
                <select name="Blood_Group" id="Blood_Group"
                    class="mt-1 block w-full border border-gray-300 bg-white rounded-md shadow-sm p-2">
                    <option value="O+ve">O+ve</option>
                    <option value="A+ve">A+ve</option>
                    <option value="B+ve">B+ve</option>
                    <option value="AB+ve">AB+ve</option>
                    <option value="O-ve">O-ve</option>
                    <option value="AB-ve">AB-ve</option>
                    <option value="A-ve">A-ve</option>
                    <option value="B-ve">B-ve</option>
                </select>
                </div>
                <div class="w-3/4">
                    <label for="Phone_No" class="block text-bold font-medium text-gray-700">Phone number</label>
                    <input type="tel" id="Phone_No" name="Phone_No" value={{Phone_No}} class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
                </div>
            </div>
            <div>
                <label for="Address" class="text-bold font-medium text-gray-700">Address</label>
                <input type="text" id="Address" name="Address" value={{Address}}  required class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
            </div>
            <div>
                <label for="Email" class="block text-bold font-medium text-gray-700">Email</label>
                <input type="Email" id="Email" name="Email"  value={{Email}} class="mt-1 p-2 block w-full border border-gray-300 rounded-md">
            </div>
            <button type="submit"
                class="w-full py-2 px-4 rounded-md shadow-md text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-700">
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}